{% extends "textbook_search/base.html" %}
{% load static %}
{% block pageContent %}

<link rel="stylesheet" href="{% static 'css/displayTextbook.css' %}">

<div class="container">
    <div class="row">
        <div class="col">
            <p>Title: Applied Linear Statistical Models</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Author: Michael H. Kutner</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Edition: 5</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>PDF Download:</p>
        </div>
        <div class="col ">
            <a class="Download" href="https://drive.google.com/file/d/1IKs683nxqijzTcct0ZBlLG08PSyEky5C/view?usp=sharing">Click here to download</a>
        </div>
    </div>
</div>

<div class="two container">
    <div class="row">
        <div class="col">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41-4Nnt%2BmcL._SX403_BO1,204,203,200_.jpg" width="150" height="150" alt="resized">
        </div>
        <div class="col">
            <p>Hardcover: $210.34
            </p>
            <p> Paperback: from $51.95</p>
        </div>
        <div class="col">
            <p>
                Paperback: 1396 pages<br>
                Publisher: McGraw-Hill Education, 2004<br>
                Language: English
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">
                <a href="https://www.amazon.com/Applied-Linear-Statistical-Models-Michael/dp/007310874X" class="btn btn-primary">Purchase</a>

        </div>
    </div>
</div>
</div>







{% endblock pageContent%}